
spring:
  ai:
    vectorstore:
      pgvector:
        initialize-schema: true
        datasource:
          url: ${VECTOR_DATABASE_URL:jdbc:postgresql://localhost:5463/sathishaipg}
          username: ${VECTOR_DATABASE_USERNAME:postgres}
          password: ${VECTOR_DATABASE_PASSWORD:P4ssword!}
          driver-class-name: org.postgresql.Driver
          hikari:
            connection-timeout: 30000
            maximum-pool-size: 10
        dimensions: 768
    google:
      genai:
        api-key: ${GOOGLE_API_KEY}
        project-id: ${GOOGLE_PROJECT_ID}
        embedding:
          apiKey: ${GOOGLE_API_KEY}
          project-id: ${GOOGLE_PROJECT_ID}
        location: ${GOOGLE_LOCATION}
  datasource:
    vector:
      url: ${VECTOR_DATABASE_URL:jdbc:postgresql://localhost:5463/sathishaipg}
      username: ${VECTOR_DATABASE_USERNAME:postgres}
      password: ${VECTOR_DATABASE_PASSWORD:P4ssword!}
      driver-class-name: org.postgresql.Driver
      hikari:
        connection-timeout: 30000
        maximum-pool-size: 10
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        id:
          new_generator_mappings: true
  mail:
    host: ${SMTP_HOST:smtp.gmail.com}
    username: ${SMTP_USERNAME:satsmadison@gmail.com}
    password: ${SMTP_PASSWORD:<<YOUR_PASSWORD>>}
    port: 587
    properties.mail.smtp:
      auth: true
      starttls:
        enable: true
        required: true
      connectiontimeout: 15000
      timeout: 45000
  docker:
    compose:
      lifecycle-management: start-only
error:
  handling:
    http-status-in-json-response: true
    exception-logging: NO_LOGGING
    full-stacktrace-http-statuses: 5xx
    log-levels:
      5xx: ERROR
management:
  endpoints:
    web:
      exposure:
        include: health,configprops,env,metrics,prometheus,shutdown,auditevents
  endpoint:
    health:
      show-details: always
    shutdown:
      access: unrestricted
springdoc:
  pathsToMatch: /
app:
  baseHost: ${BASE_HOST:http://localhost:8080}
  mail:
    from: satsmadison@gmail.com
    displayName: Sathish from Madison WI
server:
  port: 9080
